/* 
HTML结构: 
<div class="xytip">
  <div class="xytip-arrow"></div>
  <div class="xytip-inner">** htmltext **</div>
</div>
*/

.xytip { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }
.xytip-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

.xytip-inner { border-radius: 2px; -moz-border-radius: 2px; -webkit-border-radius: 2px; }

/*.xytip-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.xytip-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* 小三角设置 */
.xytip-arrow-n { border-bottom-color: #000; }
.xytip-arrow-s { border-top-color: #000; }
.xytip-arrow-e { border-left-color: #000; }
.xytip-arrow-w { border-right-color: #000; }

.xytip-n .xytip-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }
  .xytip-nw .xytip-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent;}
  .xytip-ne .xytip-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none;  border-left-color: transparent; border-right-color: transparent;}
.xytip-s .xytip-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
  .xytip-sw .xytip-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none;  border-left-color: transparent; border-right-color: transparent; }
  .xytip-se .xytip-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }
.xytip-e .xytip-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }
.xytip-w .xytip-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }

